.open {
  transform: translateX(0);
}

.show {
  opacity: 1;
  pointer-events: auto;
}

.hide {
  opacity: 0;
  transition: opacity 0.2s ease-out;
  pointer-events: none;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  z-index: 101;
}

.close {
  transform: translateX(-100%);
}

.panel {
  transition: transform 0.2s ease-out;

  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  max-width: 320px;
  height: 100vh;
  background-color: var(--bg-primary);

  z-index: 102;
}

.logo {
  padding: 1.25rem 1rem;
}

.navItem {
  display: flex;
  flex-direction: column;
}

.navLink {
  text-decoration: none;
  color: var(--text-primary);

  padding: 0.875rem;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.875rem;
}
