.grid {
  padding: 4rem 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.controls {
  /* Hide in mobile */
  display: none;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 160px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  padding-bottom: 1rem;
  gap: 1rem;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.productItem {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;  
}

@media (min-width: 768px) {
  .controls {
    display: flex;
    gap: 1rem;
  }

  .carousel {
    grid-auto-columns: 200px;
  }

  .grid {
    padding: 5rem 4rem;
  }
}
